$container: solid 2px black; 
$bgColor1 : rgb(0, 174, 218);
$bgColor2: rgb(217, 0, 255);
$bgColor3: rgb(230, 103, 5);
$square-shape: 30px;

%Default{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
}
%grid3section{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 10px 20px;
}
%flex-col{
    display: flex;
    flex-direction: column;
    flex: 1;
}
%flex-row{
    display: flex;
    flex-direction: row;
    flex: 1;
}

%main-align-center{
    justify-content: center;
    align-items:center;
}

%align-head{
    justify-content: space-between;
    align-items: center;
}

%margin_cont{
    margin: 10px 30px;
}
%iconDisplay{
    height: $square-shape;
}