@use './TemplatesStruct' as *;

body{
    @extend%Default;
    padding: 70px 0px;
    padding-right: 0;
    height: 1000px;
    margin: 10px 0;
}
hr{
    margin: 0;
    padding: 0px;
}
.cont-header {
    @extend%grid3section;
    position: fixed;
    inset: 0 0 0 0;
    height: 80px;
    background-color:rgb(247, 247, 247);
}
.cont-sidebar{
    @extend%flex-col;
}
.cont-display{
    color: white;
    
}

.cont-testHeader{
    background-color: aqua;
    @extend%flex-row;
    @extend%Main_Align;
    justify-content: space-between;
    border: $container;
}
